---
import MainLayout from '../layouts/main-layout.astro'
---

<MainLayout title='Giveaway Terms and Conditions'>


  <!-- Banner Section -->

  <section class="w-full bg-primary-slate h-[35vh] lg:h-[50vh] flex justify-center items-end">
    <div
      class="py-[30px] lg:py-[41px] px-[60px] lg:px-[152px] flex flex-col justify-center items-center bg-white gap-2.5">
      <h1 class="text-[30px] leading-[40px] lg:text-[50px] lg:leading-[62px] font-dm capitalize text-primary-200 ">
        Silent Book Club Stourbridge Giveaway (Godless Cosmologies)</h1>
    </div>
  </section>

  <!-- T&Cs -->

  <section class="w-full pt-[50px] pb-[50px] lg:pt-[100px] lg:pb-[100px] px-12 lg:px-0 mx-auto "
    aria-labelledby="giveaway-terms-title">
    <div class="w-full flex flex-col-reverse lg:flex-row justify-between gap-10 items-center lg:max-w-[1200px] mx-auto">
      <div class="flex flex-col gap-6">
        <h2 id="giveaway-terms-title">Giveaway Terms and Conditions</h2>

        <ol>
          <li>
            <strong>Promoter</strong><br>
            This giveaway is run by Silent Book Club Stourbridge via Instagram.
            This promotion is not affiliated with, sponsored by, or endorsed by Instagram.
          </li>

          <li>
            <strong>Prize</strong><br>
            One winner will receive one signed advance reading copy of
            <em>Godless Cosmologies</em> by Christy Theodoulou.
          </li>

          <li>
            <strong>Entry requirements</strong><br>
            To enter, participants must:
            <ul>
              <li>Follow <strong>@sbcstourbridge</strong> and <strong>@christytheodoulou</strong> on Instagram</li>
              <li>Like the giveaway post</li>
              <li>Comment on the giveaway post with the book they are currently reading</li>
            </ul>
          </li>

          <li>
            <strong>Eligibility</strong>
            <ul>
              <li>Open to UK residents only</li>
              <li>Entrants must be aged 18 or over</li>
              <li>No purchase necessary</li>
            </ul>
          </li>

          <li>
            <strong>Giveaway period</strong><br>
            Entries open on Monday 2 March 2026 and close at 11:59pm on Friday 6 March 2026.
            The winner will be announced on Saturday 7 March 2026.
          </li>

          <li>
            <strong>Winner selection</strong><br>
            The winner will be chosen at random from all valid entries and contacted via Instagram.
            If the winner does not respond within 72 hours, another winner may be selected.
          </li>

          <li>
            <strong>Delivery of prize</strong><br>
            The winner’s postal address will be shared securely with the author for the sole purpose
            of sending the prize. The prize will be posted directly by the author.
            No alternative prize or cash equivalent is available.
          </li>

          <li>
            <strong>Data protection</strong><br>
            Personal information provided will be used only for administering this giveaway
            and will not be stored or used for marketing purposes.
          </li>

          <li>
            <strong>General</strong><br>
            Silent Book Club Stourbridge reserves the right to amend or withdraw the giveaway
            if necessary due to unforeseen circumstances.
          </li>
        </ol>

      </div>
    </div>
  </section>
</MainLayout>