---
import Navbar from '../components/navbar.tsx'
import Footer from '../components/footer.tsx'

export interface LayoutProps {
  title : string 
}

const { title } = Astro.props as LayoutProps
---


<html lang="en">
  <head>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Silent Book Club Stourbridge" />
    <meta title = {title}/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">  
    <title>{title}</title>
  </head>
  <body>
    <main class='bg-no-repeat bg-cover bg-center'>
      <Navbar client:load/>
      <slot/>
      <!-- All different pages to be rendered here -->
      <Footer />
    </main>
    <p class="tracking-tight text-base text-left border border-gray-300 bg-white py-4 px-4 lg:text-[10px] lg:leading-[10px] font-mulish text-primary-slate">
        <a href="https://www.flaticon.com/free-icons/meetup" title="meetup icons">Meetup icons created by Pixel perfect - Flaticon</a>
    </p>
  </body>
</html>

